<tr>
  <td>
    <%= branch.name %>
  </td>
  <td>
    <%= branch.address %>
  </td>
  <td>
    <%= branch.phone %>
  </td>
  <td style="text-align: right;">
    <%= link_to "Ver", branch_path(branch), class: "btn btn-secondary" %>
    <% if Current.user.has_role? :admin %>
      <%= link_to "Editar", edit_branch_path(branch), class: "btn btn-warning" %>
      <%= link_to "Borrar", branch_path(branch), class: "btn btn-danger", data: {
        turbo_method: "delete",
        turbo_confirm: "¿Estás seguro?"
      } %>
    <% end %>
  </td>
</tr>