<%= form_with model: @branch do |form| %>
  <% if @branch.errors.any? %>
    <div id="error_explanation">
      <h4>Se detectaron <%= pluralize(@branch.errors.count, "error", locale: :es) %>:</h4>

      <ul>
      <% @branch.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control", placeholder: "Ingrese un nombre..." %>
  </div>
  <div class="mb-3">
    <%= form.label :address, class: "form-label" %>
    <%= form.text_field :address, class: "form-control", placeholder: "Ingrese una dirección..." %>
  </div>
  <div class="mb-3">
    <%= form.label :phone, class: "form-label" %>
    <%= form.text_field :phone, class: "form-control", placeholder: "Ingrese un teléfono..." %>
  </div>

  <div class="text-center">
    <%= form.submit class: "btn btn-danger" %>
    <%= link_to "Volver", branches_path, class: "btn btn-secondary" %>
  </div>
<% end %>