<div class="row">
  <div class="col">
    <h3>Sucursal</h3>
  </div>
  <div class="col" style="text-align: right;">
    <%= link_to "Editar", edit_branch_path(@branch), class: "btn btn-warning" %>
    <%= link_to "Borrar", branch_path(@branch), class: "btn btn-primary", data: {
      turbo_method: "delete",
      turbo_confirm: "¿Estás seguro?"
    } %>
  </div>
</div>

<hr>

<p>
  <strong>Nombre:</strong>
  <%= @branch.name %>
</p>
<p>
  <strong>Dirección:</strong>
  <%= @branch.address %>
</p>
<p>
  <strong>Teléfono:</strong>
  <%= @branch.phone %>
</p>

<br>

<div class="row">
  <div class="col">
    <h4>Horarios</h4>
  </div>
  <div class="col" style="text-align: right;">
    <%= link_to "Agregar", new_branch_schedule_path(@branch), class: "btn btn-primary" %>
  </div>
</div>

<hr>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Día</th>
      <th scope="col">Hora de apertura</th>
      <th scope="col">Hora de cierre</th>
      <th scope="col" style="text-align: right;">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <%= render @branch.schedules %>
  </tbody>
</table>

<br>

<div class="text-center">
  <%= link_to "Volver", branches_path, class: "btn btn-secondary" %>
</div>