<h2>Sucursal</h2>
<%= @branch.name %>
<%= @branch.address %>
<%= @branch.phone %>
<%= link_to "Editar", edit_branch_path(@branch) %>
<%= link_to "Borrar", branch_path(@branch), data: {
  turbo_method: "delete",
  turbo_confirm: "¿Estás seguro?"
} %>

<h3>Horarios</h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Día</th>
      <th scope="col">Hora de apertura</th>
      <th scope="col">Hora de cierre</th>
    </tr>
  </thead>
  <tbody>
    <%= render @branch.schedules %>
  </tbody>
</table>

<h3>Agregar horario</h3>
<%= render "schedules/form" %>