<%= form_with model: @user do |form| %>
  <% if @user.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <strong>Se detectaron errores:</strong>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :email, class: "form-label" %>
    <%= form.text_field :email, class: "form-control", placeholder: "Ingrese un email..." %>
  </div>
  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control", placeholder: "Ingrese un nombre..." %>
  </div>
  <div class="mb-3">
    <%= form.label "Rol", class: "form-label" %>
    <%= form.select :role, options_for_select(
      [["Cliente", :client], ["Personal", :manager], ["Administrador", :admin]],
      :selected => form.object.get_role
    ), {}, {class: "form-select", id: "selected-role"} %>
  </div>
  <div class="mb-3" id="branch-select">
    <%= form.label "Sucursal", class: "form-label" %>
    <%= form.select :branch_id, options_for_select(
      Branch.all.map{|b| [b.name, b.id]},
      :selected => form.object.branch_id
    ), {prompt: "Seleccione una sucursal..."}, {class: "form-select"} %>
  </div>
  <% if @user.new_record? %>
    <div class="mb-3">
      <%= form.label :password, class: "form-label" %>
      <%= form.password_field :password, class: "form-control", placeholder: "Ingrese una contraseña..." %>
    </div>
  <% end %>

  <div class="text-center">
    <%= form.submit class: "btn btn-danger" %>
    <%= link_to "Volver", users_path, class: "btn btn-secondary" %>
  </div>
<% end %>

<script>
  var role = document.getElementById("selected-role");
  var branchSelect = document.getElementById("branch-select");

  function listener() {
    if (role.value === "manager")
      branchSelect.style.display = "block";
    else
      branchSelect.style.display = "none";
  };

  role.addEventListener("change", listener);
  listener();
</script>