<%= form_with model: @user do |form| %>
  <% if @user.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <strong>Se detectaron errores:</strong>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :email, class: "form-label" %>
    <%= form.text_field :email, class: "form-control", placeholder: "Ingrese un email..." %>
  </div>
  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control", placeholder: "Ingrese un nombre..." %>
  </div>
  <div class="mb-3">
    <%= form.label :role, class: "form-label" %>
    <%= form.select :role, options_for_select([
      "Cliente", "Personal", "Administrador"
    ], :selected => form.object.role), {prompt: "Seleccione un rol..."}, {class: "form-select"} %>
  </div>
  <div class="mb-3">
    <%= form.label :password, class: "form-label" %>
    <%= form.password_field :password, class: "form-control", placeholder: "Ingrese una contraseña..." %>
  </div>

  <div class="text-center">
    <%= form.submit class: "btn btn-danger" %>
    <%= link_to "Volver", users_path, class: "btn btn-secondary" %>
  </div>
<% end %>