<tr>
  <td>
    <%= user.email %>
  </td>
  <td>
    <%= user.name %>
  </td>
  <td>
    <%= user.get_role_name %>
  </td>
  <td>
    <% if (user.has_role? :manager) && (user.branch_id) %>
      <%= Branch.find(user.branch_id).name %>
    <% else %>
      -
    <% end %>
  </td>
  <td style="text-align: right;">
    <%= link_to "Ver", user_path(user), class: "btn btn-secondary" %>
    <% if can? :manage, user %>
      <%= link_to "Editar", edit_user_path(user), class: "btn btn-warning" %>
      <%= link_to "Borrar", user_path(user), class: "btn btn-danger", data: {
        turbo_method: "delete",
        turbo_confirm: "¿Estás seguro?"
      } %>
    <% end %>
  </td>
</tr>