<tr>
  <td>
    <%= user.email %>
  </td>
  <td>
    <%= user.name %>
  </td>
  <td>
    <% if user.has_role? :admin %>
      Administrador
    <% elsif user.has_role? :manager %>
      Personal
    <% elsif user.has_role? :client %>
      Cliente
    <% end %>
  </td>
  <td>
    -
  </td>
  <td style="text-align: right;">
    <%= link_to "Ver", user_path(user), class: "btn btn-secondary" %>
    <% if Current.user.has_role? :admin %>
      <%= link_to "Editar", edit_user_path(user), class: "btn btn-warning" %>
      <%= link_to "Borrar", user_path(user), class: "btn btn-danger", data: {
        turbo_method: "delete",
        turbo_confirm: "¿Estás seguro?"
      } %>
    <% end %>
  </td>
</tr>