<div class="row">
  <div class="col">
    <h3>Usuario</h3>
  </div>
  <% if can? :manage, @user %>
    <div class="col" style="text-align: right;">
      <%= link_to "Editar", edit_user_path(@user), class: "btn btn-warning" %>
      <%= link_to "Borrar", user_path(@user), class: "btn btn-danger", data: {
        turbo_method: "delete",
        turbo_confirm: "¿Estás seguro?"
      } %>
    </div>
  <% end %>
</div>

<hr>

<p>
  <strong>Correo electrónico:</strong>
  <%= @user.email %>
</p>
<p>
  <strong>Nombre:</strong>
  <%= @user.name %>
</p>
<p>
  <strong>Rol:</strong>
  <%= @user.get_role_name %>
</p>
<% if @user.has_role? :manager %>
  <p>
    <strong>Sucursal:</strong>
    <% if @user.branch_id %>
      <%= Branch.find(@user.branch_id).name %>
    <% else %>
      -
    <% end %>
  </p>
<% end %>

<br>

<div class="text-center">
  <%= link_to "Volver", users_path, class: "btn btn-secondary" %>
</div>