<%= form_with model: [ @branch, @schedule ] do |form| %>
  <div class="mb-3">
    <%= form.label :day, class: "form-label" %>
    <%= form.select :day, options_for_select([
      "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado"
    ]), {include_blank: true}, {class: "form-select"} %>
  </div>
  <div class="row mb-3">
    <div class="col">
      <%= form.label :start, class: "form-label" %>
      <%= form.time_field :start, class: "form-control" %>
    </div>
    <div class="col">
      <%= form.label :end, class: "form-label" %>
      <%= form.time_field :end, class: "form-control" %>
    </div>
  </div>

  <div class="text-center">
    <%= form.submit class: "btn btn-danger" %>
    <%= link_to "Volver", branch_path(@branch), class: "btn btn-secondary" %>
  </div>
<% end %>