<tr>
  <td>
    <%= schedule.day %>
  </td>
  <td>
    <%= schedule.start.strftime("%H:%M") %>
  </td>
  <td>
    <%= schedule.end.strftime("%H:%M") %>
  </td>
  <% if Current.user.has_role? :admin %>
    <td style="text-align: right;">
      <%= link_to "Editar", edit_branch_schedule_path(@branch, schedule), class: "btn btn-warning" %>
      <%= link_to "Borrar", branch_schedule_path(@branch, schedule), class: "btn btn-danger", data: {
        turbo_method: "delete",
        turbo_confirm: "¿Estás seguro?"
      } %>
    </td>
  <% end %>
</tr>