<tr>
  <td>
    <%= schedule.day %>
  </td>
  <td>
    <%= schedule.start %>
  </td>
  <td>
    <%= schedule.end %>
  </td>
  <td style="text-align: right;">
    <%= link_to "Editar", edit_branch_schedule_path(@branch, schedule), class: "btn btn-warning" %>
    <%= link_to "Borrar", branch_schedule_path(@branch, schedule), class: "btn btn-danger", data: {
      turbo_method: "delete",
      turbo_confirm: "¿Estás seguro?"
    } %>
  </td>
</tr>