<%= form_with model: @turn do |form| %>
  <% if @turn.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <strong>Se detectaron errores:</strong>

      <ul>
      <% @turn.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label "Sucursal", class: "form-label" %>
    <%= form.select :branch_id, options_for_select(
      Branch.all.map { |branch| [branch.name, branch.id] },
      :selected => form.object.branch_id
    ), {prompt: "Seleccione una sucursal..."}, {class: "form-select", id: "turn_branch_id", onChange: "
      fetch(`/api/branches/${this.value}/schedules`)
        .then(response => response.json())
        .then(data => {
          const schedules_list = document.getElementById('branch_schedules_list');
          schedules_list.innerHTML = '';
          data.forEach(schedule => {
            const li = document.createElement('li');
            li.appendChild(document.createTextNode(
              `${schedule.day} de ${new Date(schedule.start)
                .toLocaleTimeString('es-AR', { hour: '2-digit', minute: '2-digit' })}
              a ${new Date(schedule.end)
                .toLocaleTimeString('es-AR', { hour: '2-digit', minute: '2-digit' })}`
            ));
            schedules_list.appendChild(li);
          });
          const schedules_block = document.getElementById('time_select');
          schedules_block.style.display = 'block';
        });
    "} %>
  </div>
  <div id="time_select" style="display: none;">
    <div class="mb-3">
      <p class="form-label">Horarios de la sucursal seleccionada:</p>
      <ul id="branch_schedules_list"></ul>
    </div>
    <div class="mb-3">
      <%= form.label :date, class: "form-label" %>
      <%= form.date_field :date, class: "form-control", min: Date.tomorrow, onChange: "
        let day = new Date(this.value).toLocaleDateString('es-AR', {
          weekday: 'long',
          timeZone: 'UTC'
        });
        day = day.charAt(0).toUpperCase() + day.slice(1);
        fetch(`/api/branches/${document.getElementById('turn_branch_id').value}/schedules`)
          .then(response => response.json())
          .then(data => {
            const schedule = data.filter(schedule => schedule.day === day)[0] || undefined;
            const time_select = document.getElementById('turn_time');
            if (schedule) {
              time_select.min = schedule.start.split('T')[1].split('-')[0];
              time_select.max = schedule.end.split('T')[1].split('-')[0];
            } else {
              time_select.min = '';
              time_select.max = '';
              time_select.value = '';
              alert('La sucursal seleccionada no abre ese día.');
            }
          });
      " %>
    </div>
    <div class="mb-3">
      <%= form.label :time, class: "form-label" %>
      <%= form.time_field :time, class: "form-control", id: "turn_time" %>
    </div>
  </div>
  <div class="mb-3">
    <%= form.label :reason, class: "form-label" %>
    <%= form.text_field :reason, class: "form-control", placeholder: "Indique el motivo..." %>
  </div>

  <div class="text-center">
    <%= form.submit class: "btn btn-danger" %>
    <%= link_to "Volver", turns_path, class: "btn btn-secondary" %>
  </div>
<% end %>