<tr>
  <td>
    <%= turn.branch.name %>
  </td>
  <td>
    <%= turn.start_time %>
  </td>
  <td>
    <%= turn.reason %>
  </td>
  <td>
    <%= turn.status %>
  </td>
  <td style="text-align: right;">
    <%= link_to "Modificar", edit_user_turn_path(turn), class: "btn btn-warning" %>
    <%= link_to "Cancelar", user_turn_path(turn), class: "btn btn-danger", data: {
      turbo_method: "delete",
      turbo_confirm: "¿Estás seguro?"
    } %>
  </td>
</tr>