<h3>Mi perfil</h3>

<hr>

<p>
  <strong>Correo electrónico:</strong>
  <%= Current.user.email %>
</p>
<p>
  <strong>Nombre:</strong>
  <%= Current.user.name %>
</p>
<p>
  <strong>Rol:</strong>
  <%= Current.user.get_role_name %>
</p>
<% if Current.user.has_role? :manager %>
  <p>
    <strong>Sucursal:</strong>
    <% if Current.user.branch_id %>
      <%= Branch.find(Current.user.branch_id).name %>
    <% else %>
      -
    <% end %>
  </p>
<% end %>

<br>

<%= link_to "Modificar contraseña", edit_password_path, class: "btn btn-danger" %>